.brand {
  padding-top: 24px;
  padding-bottom: 12px;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  background-color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: 'Ralewayprezi v03', sans-serif;
  text-transform: uppercase;
}

.house-of-ideas {
  display: inline-block;
  margin-top: 8px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.image {
  display: block;
}

.div-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.nav-link:hover {
  color: #5a00b4;
}

.nav-link:focus {
  text-decoration: underline;
}

.nav-link-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.hi {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-2 {
  display: block;
}

.container {
  min-height: 500px;
  background-image: url('../images/Hi-Hero-Image-01.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-holder {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.content-holder._700 {
  width: 700px;
}

.details-header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #f0f0f0;
  background-image: url('../images/Hi-White-Circle.svg'), url('../images/Hi-White-Circle.svg');
  background-position: 103% 50%, -17px 50%;
  background-size: 36px, 36px;
  background-repeat: no-repeat, no-repeat;
}

._1col {
  position: relative;
  display: block;
  width: 14.2857%;
  height: 100px;
  padding: 12px;
  background-color: #fff;
}

._1col.grey {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #333;
}

._1col.grey.white-stripe-top {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/White-Vertical-Stripe-3px.svg');
  background-position: 1px 0px;
  background-size: 3px 50px;
  background-repeat: no-repeat;
}

._1col.grey.white-stripe-top.lilac {
  background-color: #5a00b4;
  background-position: 0px 0px;
  color: #fff;
}

._1col.white-stripe-bottom {
  background-color: #f0f0f0;
  background-image: url('../images/White-Vertical-Stripe-3px.svg');
  background-position: -1px 100%;
  background-size: 3px 50px;
  background-repeat: no-repeat;
}

._3col {
  width: 42.857%;
  padding: 12px;
  background-image: url('../images/White-Vertical-Stripe-3px.svg');
  background-position: -1px 100%;
  background-size: 3px 50px;
  background-repeat: no-repeat;
}

.details-content {
  position: static;
  width: 100%;
  padding: 24px 92px 100px 100px;
  background-color: #fff;
}

.details-content._500 {
  height: 500px;
}

.details-content._400 {
  height: 400px;
}

.details-content._300 {
  height: 300px;
}

.details-content._600 {
  height: 600px;
}

.details-content._900 {
  height: 900px;
}

.details-content._1700 {
  height: 1700px;
}

.details-content._200 {
  height: 200px;
}

.body-16 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Ralewayprezi v03', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.body-16.caption {
  color: #a8a8a8;
}

._1100-w-container {
  display: block;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/Hi-Background.svg');
  background-position: 50% 0px;
  background-size: auto;
  background-repeat: repeat-y;
}

.hero-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Header-Image.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

._1100-w-navbar {
  display: block;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #5a00b4;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

.small-title-allcaps {
  display: block;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.info-body {
  display: inline-block;
  margin-top: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: 'Ralewayprezi v03', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.link {
  margin-top: 24px;
  color: #5a00b4;
  text-decoration: underline;
}

.details-bottom-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #fff;
  color: #fff;
}

.text-block {
  display: inline;
  font-family: Fontawesome, sans-serif;
  font-size: 24px;
}

.text-block-2 {
  margin-top: 8px;
  font-family: 'Ralewayprezi v03', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.divider {
  height: 100px;
}

.details-picture {
  height: 500px;
}

.modul {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14.2857%;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #7c7c7c;
  text-decoration: none;
}

.modul:hover {
  color: #5a00b4;
}

.modul.white-stripe-top {
  background-image: url('../images/White-Vertical-Stripe-3px.svg');
  background-position: -1px 0px;
  background-size: 3px 50px;
  background-repeat: no-repeat;
}

.modul.white {
  padding-bottom: 12px;
  padding-left: 16px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  font-family: 'Ralewayprezi v03', sans-serif;
}

.modul.white.lilac {
  background-color: #a54bff;
  color: #fff;
  font-weight: 600;
}

.modul.white.lilac:hover {
  background-color: #5a00b4;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #333;
}

.footer-module {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  display: inline;
  font-family: Fontawesome, sans-serif;
  font-size: 24px;
}

.footer-module-body {
  margin-top: 16px;
  font-family: 'Ralewayprezi v03', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.link-block:hover {
  color: #a54bff;
}

.smallnavbar {
  position: fixed;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Ralewayprezi v03', sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.brand-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  margin-left: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.button {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-caption {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  height: 50px;
  padding-top: 8px;
  padding-left: 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text-block-4 {
  color: #ffe657;
}

.link-2 {
  margin-top: 24px;
}

.hero-calendar {
  display: block;
  width: 900px;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #fff;
}

.heading-2 {
  margin-bottom: 24px;
  font-family: 'Ralewayprezi v03', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.google-cal-embed {
  display: block;
  width: 800px;
}

.calendar-description {
  margin-top: 24px;
}

._500-px-width-module {
  width: 500px;
  padding-top: 12px;
  padding-left: 12px;
}

.announcement-title {
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #5a00b4;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.newsletter-form {
  margin-top: 24px;
  font-family: 'Ralewayprezi v03', sans-serif;
}

.text-field {
  height: 60px;
  margin-bottom: 8px;
}

.text-field-2 {
  height: 60px;
  margin-bottom: 16px;
}

.email-label {
  margin-top: 16px;
  color: #9b9b9b;
}

.field-label {
  color: #9b9b9b;
}

.newsletter-subscribe-button {
  display: block;
  width: 300px;
  height: 100px;
  margin-top: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  background-color: #5a00b4;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.newsletter-subscribe-button._40 {
  margin-top: 40px;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}

.newsletter-subscribe-button._40:hover {
  background-color: #a54bff;
}

.contact-form {
  margin-top: 24px;
}

.message-field {
  min-height: 160px;
}

.heading-3 {
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #5a00b4;
  font-weight: 400;
}

.details-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 500px;
  height: 300px;
  margin-bottom: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-image: url('../images/prezi3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.details-image.workshop-area {
  background-image: url('../images/prezi5.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.details-image.bistro-area {
  background-image: url('../images/prezi4.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.text-block-5 {
  font-size: 32px;
}

.events-header {
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #5a00b4;
  font-size: 22px;
  font-weight: 600;
}

.events-toplist-horizontal {
  display: inline-block;
  font-family: 'Ralewayprezi v03', sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.events-toplist-horizontal.vertical-line {
  margin-right: 4px;
  margin-left: 4px;
  font-size: 18px;
}

.text-block-6 {
  display: inline-block;
}

.prezi-logo-light-blue {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: -4px;
}

.button-2 {
  position: static;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-2 {
  position: absolute;
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #f0f0f0;
  background-color: transparent;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #f0f0f0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.overlay-button:hover {
  background-color: #5a00b4;
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block-7 {
  font-family: 'Ralewayprezi v03', sans-serif;
  color: #9b9b9b;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

html.w-mod-js *[data-ix="fixed-navbar"] {
  display: block;
  -webkit-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
}

html.w-mod-js *[data-ix="show-navbar"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Heuristica';
  src: url('../fonts/Heuristica-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Ralewayprezi v03';
  src: url('../fonts/RalewayPrezi-SemiBold-v03.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Ralewayprezi v03';
  src: url('../fonts/RalewayPrezi-Medium-v03.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Ralewayprezi v03';
  src: url('../fonts/RalewayPrezi-Black-v03.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Ralewayprezi v03';
  src: url('../fonts/RalewayPrezi-Regular-v03.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Ralewayprezi v03';
  src: url('../fonts/RalewayPrezi-Bold-v03.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}